body {
	background-color : grey;
	margin : 0;

}


.navbar {
	background-color : #030164;
	display : flex;
	justify-content : space-between;
	padding : 15px 30px;
	align-items : center;
	height : 30px;
	gap : 5px;

}


.navbar h2 {
	font-family : helvetica;
	color : orange;
}

.navbar nav {
	color : black;
	font-family : helvetica;
}


.navbar ul {
	display : flex;
	gap : 10px;
}


.navbar li {
	list-style : none;
	color : orange;
}



.navbar input{
	height :40px;
	width : 500px;
	border-radius : 2px;
	border : none;	
}



.navbar button {
	height : 40px;
	width : 100px;
	background-color : #F2A900;
	border : none;
	border-radius : 3px;
	font-family : helvetica;
	font-size : 20px;
}


.navbar input::placeholder {
	font-family : helvetica;
	font-size : 20px;


}



.navbar2 {
	height : 40px;
	background-color : #363199;
	color : white;
	margin : 0;
}


.navbar2 body {
	margin : 0;
}

.navbar2 ul {
	display : flex;
	justify-content: flex-start;
	align-items : center;
	gap : 20px;
	font-family : helvetica;
	list-style : none;
	color : white;
	margin : 0;
}

.test {
	height : 100px;
	width : 100px;
	background-color : orange;
	color : black;
	font-family : helvetica;
	display : flex;
	justify-content : center;
	align-items : center;
}


.test1 {
	height : 100px;
	width : 100px;
	background-color : green;
	margin : 0;
	font-family : helvetica;
	display : flex;
	justify-content : center;
	align-items : center;
	color : white;
	border-top-right-radius : 30px;
	border-bottom-right-radius : 30px;	
}


.group{
	height : 50px;
	width : 190px;
	background-color : black;
	display : flex;
	;
}


.group .plus {
	height : 50px;
	width : 50px;
	background-color : white;
}


.group button {
	height : 50px;
	width : 50px;
	border-radius  : none;
	background-color : #030164;
	border: none;
	font-family : helvetica;
	font-size : 30px;
	color : orange;
}




.group .minus {
	height : 50px;
	width : 50px;
	background-color : white;
}


.group .display {
	height : 50px;
	width : 90px;
	background-color : azure;
	display : flex;
	justify-content : center;
	align-items : center;
	font-family  : helvetica;
}


.cartsec {
	height :40px; 
	width : 50px;
	background-color : #F2A900;
	color : orange;
	border-radius : 3px;
	border : none;
	margin-right : 330px;
}





